@model Brandedkart.DTO.Product.ProductDTO

@{
    ViewBag.Title = "CreateProduct";
}




<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Create Product</h3>
                        <br />
                        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" }, null)
                        <br />
                        @using (Html.BeginForm("", "", new { area = "Admin", action = "CreateProduct", controller = "ProductAlterController" }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    @Html.HiddenFor(product => product.Product_ID)
                                    @Html.HiddenFor(product => product.Product_ImagePath)
                                    <div class="form-outline">
                                        @Html.LabelFor(product => product.Product_Name, new { @class = "form-label" })
                                        @Html.TextBoxFor(product => product.Product_Name, new { @class = "form-control form-control-lg" })
                                        @Html.ValidationMessageFor(product => product.Product_Name)
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        @Html.LabelFor(product => product.Product_Description, new { @class = "form-label" })
                                        @Html.TextAreaFor(product => product.Product_Description, new { @class = "form-control form-control-lg" })
                                        @Html.ValidationMessageFor(product => product.Product_Description)
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        @Html.LabelFor(product => product.Product_Price, new { @class = "form-label" })
                                        @Html.TextBoxFor(product => product.Product_Price, new { @class = "form-control form-control-lg" })
                                        @Html.ValidationMessageFor(product => product.Product_Price)
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        @Html.LabelFor(product => product.Product_Weight, new { @class = "form-label" })
                                        @Html.TextBoxFor(product => product.Product_Weight, new { @class = "form-control form-control-lg" })
                                        @Html.ValidationMessageFor(product => product.Product_Weight)
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">

                                    <div class="form-outline w-100">
                                        @Html.LabelFor(product => product.Product_SKU, new { @class = "form-label" })
                                        @Html.TextBoxFor(product => product.Product_SKU, new { @class = "form-control form-control-lg" })
                                        @Html.ValidationMessageFor(product => product.Product_SKU)
                                    </div>

                                </div>
                                <div class="col-md-6 mb-4">



                                    <div class="form-outline w-100">
                                        @Html.LabelFor(product => product.Supplier_Name, new { @class = "form-label" })
                                        @Html.TextBoxFor(product => product.Supplier_Name, new { @class = "form-control form-control-lg" })
                                        @Html.ValidationMessageFor(product => product.Supplier_Name)
                                    </div>

                                </div>
                            </div>



                            <div class="row">
                                <div class="col-md-6 mb-4 pb-2">

                                    @Html.LabelFor(model => model.Category_Id, htmlAttributes: new { @class = "form-label" })

                                    @Html.DropDownListFor(model => model.Category_Id, ViewData["Category"] as SelectList, "Please select a category", new { @class = "form-control form-control-lg" })
                                    @Html.ValidationMessageFor(model => model.Category_Id, "", new { @class = "text-danger" })

                                </div>
                                <div class="col-md-6 mb-4 pb-2">

                                    @Html.LabelFor(model => model.ProductImage, htmlAttributes: new { @class = "form-label" })

                                    <input type="file" id="ProductImage" name="ProductImage" class="form-control form-control-lg" />
                                    @Html.ValidationMessageFor(model => model.ProductImage, "", new { @class = "text-danger" })




                                </div>
                            </div>

                            <div class="mt-4 pt-2">
                                <input class="btn btn-primary btn-m" type="submit" value="Create Product" />
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section StyleSheets{
    <link href="~/Content/Site.css" rel="stylesheet" />
}



@section scripts{

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
   
}










